$body-bg: #f3f3f0;

//these are our colors
$primary: #01012b;
$secondary: #005678;
$info: #05d9e8;
$light: #d1f7ff;
$danger: #ff2a6d;

//these are not our colors
$success: rgb(12, 77, 27);
$warning: #FFC107;
$dark: #343A40;
$white: #FFFFFF;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: #008080;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
"blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray,
"gray-dark": $gray-dark
) !default;